{# templates/cours/indexf.html.twig #}

{% extends 'front_office/index.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
<section id="courses" class="courses section">
    <div class="container">
        <!-- Liste des cours -->
        <div id="courses-list">
            {% include 'cours/_list.html.twig' %}
        </div>

        <!-- Pagination -->
    
    </div>
</section>
{% endblock %}
