{% extends 'back_office/index.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}
    <div class="container">

        {% include 'test/index.html.twig' %}

        {% include 'type/index.html.twig' %}
    </div>
{% endblock %}
